/* Estilizar o formulário */
#feedback-form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilizar os labels e inputs */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  label span {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="time"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  /* Estilizar os botões */
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  /* Estilizar as legendas */
  h2 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
  }
  
  p {
    margin-bottom: 20px;
    color: #666;
  }
  
  /* Estilizar as listas de opções */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li input[type="radio"] {
    margin-right: 10px;
  }
  
  ul li label {
    display: inline-block;
    margin-right: 20px;
  }